@using System.Text.Json
@using Web.Models

@{
    var menuJson = Context.Session.GetString("Menu");
    var menu = string.IsNullOrEmpty(menuJson)
        ? new List<MenuDto>()
        : JsonSerializer.Deserialize<List<MenuDto>>(menuJson);
}

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                @foreach (var item in menu.OrderBy(m => m.Orden))
                {
                    if (item.Hijos != null && item.Hijos.Any())
                    {
                                        <li>
                                            <a href="javascript:void(0);" class="has-arrow waves-effect">
                                                <i class="bx bx-@item.Icono"></i>
                                                <span>@item.Nombre</span>
                                            </a>

                                            <ul class="sub-menu" aria-expanded="false">
                                @foreach (var hijo in item.Hijos.OrderBy(h => h.Orden))
                                {
                                                            <li>
                                                                <a href="@hijo.Ruta">
                                                                    <span>@hijo.Nombre</span>
                                                                </a>
                                                            </li>
                                }
                                            </ul>
                                        </li>
                    }
                    else
                    {
                                        <li>
                                            <a href="@item.Ruta" class="waves-effect">
                                                <i class="bx bx-@item.Icono"></i>
                                                <span>@item.Nombre</span>
                                            </a>
                                        </li>
                    }
                }
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->